pipeline/2b_pl_sub_fact_landing_to_raw_delta_load.json
{
	"name": "2b_pl_sub_fact_landing_to_raw_delta_load",
	"properties": {
		"activities": [
			{
				"name": "dim_landing_to_raw",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/dim_landing_to_raw",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"container": {
							"value": "@pipeline().parameters.metadata_lookup_values.container_name",
							"type": "Expression"
						},
						"gcp_file_last_modified_time": {
							"value": "@pipeline().parameters.source_file_last_modified_time",
							"type": "Expression"
						},
						"raw_schema": {
							"value": "@pipeline().parameters.metadata_lookup_values.raw_schema",
							"type": "Expression"
						},
						"raw_table": {
							"value": "@pipeline().parameters.metadata_lookup_values.raw_tbl",
							"type": "Expression"
						},
						"source_file_name": {
							"value": "@pipeline().parameters.souce_file_name",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.metadata_lookup_values.storage_account",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_landing_to_raw_success_log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dim_landing_to_raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat(\n  'Source file contains ',\n  activity('dim_landing_to_raw').output.runOutput[0],\n  ' records and inserted ',\n  activity('dim_landing_to_raw').output.runOutput[1],\n  ' records in raw layer table ',\n  pipeline().parameters.metadata_lookup_values.raw_tbl\n)\n",
							"type": "Expression"
						},
						"status": "success",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@convertFromUtc(utcNow(), 'India Standard Time', 'yyyy-MM-dd HH:mm:ss')\n",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_landing_to_raw_failure_log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dim_landing_to_raw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@activity('dim_landing_to_raw').output.Error.Message",
							"type": "Expression"
						},
						"status": "failure",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@convertFromUtc(utcNow(), 'India Standard Time', 'yyyy-MM-dd HH:mm:ss')\n",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_lookup_values": {
				"type": "object"
			},
			"source_file_last_modified_time": {
				"type": "string"
			},
			"souce_file_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}